.App {
  padding: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.selected-book img {
  float: left;
  margin-right: 15px;
  border-radius: 10px;
}

.selected-book h3 {
    margin-bottom: 20px;
}

#read-button {
    width: 150px;
    float: right;
    margin-top: 30px;
}

#delete-button {
    width: 150px;
    float: left;
    margin-top: 30px;
}

.search-form {
    width: 600px;
    margin: auto;
    padding-bottom: 30px;
}

.add-book {
    margin-bottom: 15px;
}

.add-new-form hr {
    margin-bottom: 30px;
}

.cancel-button {
    margin-left: 40px;
}

.read img {
    float: left;
    margin-right: 30px;
}